name: Build and test Go
on: [push, pull_request]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17

      - name: Check out source code
        uses: actions/checkout@v2
        with:
          path: main
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Build
        env:
          GOPROXY: "https://proxy.golang.org"
        run: cd main && go build ./...

      - name: Test
        env:
          GOPROXY: "https://proxy.golang.org"
        run: cd main && go test -v ./...
